{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    {% if logged_in and is_teacher %}

        <h1>Words about {{ category }}: -<a href="/confirmation/category-{{category}}">Delete Category</a></h1>

    {% else %}

    <h1> Words about {{ category }}:</h1>

    {% endif %}



    <table>

         <tr>
            <th> Maori </th>
            <th> English</th>
            <th> Image </th>
            {% if logged_in %}
             <th> Save Word </th>
            {% endif %}


        </tr>

        {% for word in words %}

            <tr>
                <td><a href = "/{{category}}/{{word[0]}}">{{word[0]}}</a> </td>
                <td>{{word[1]}}</td>
                <td><img class = "thumb" src = "../static/images/{{word[2]}}"></td>
                {% if logged_in %}
                    <td><a href="/saveword-{{category}}-{{word[3]}}">Save word</a> </td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>
    {% if logged_in and is_teacher %}


         <form class="dataForm" method = "POST">

                <h1> Add a word </h1>

                Maori:

                <input type="text" name="maori" id="maori" maxlength="85" required value = {{new_word_details[0]}}>


                <br>

                 English:

                <input type="text" name="english" id="english" maxlength="100" required value = {{new_word_details[1]}}>

                Year level word is first encountered at:

                <input type="number" name="year_level" id="year_level" min = "1" max = "10" required value = {{new_word_details[2]}}>

                Definition:

                <input type="text" name="definition" id="definition" maxlength="200" required value = {{new_word_details[3]}}>

                <br>
                <br>

                <input type="submit" value="Add word" required>

                 <div class = "error"> <strong> {{ error }} </strong> </div>
        </form>

    {% endif %}





{% endblock %}
