<!-- html document starts with what is written in base html-->
{% extends 'base.html' %}
<!-- holds what the title and heading should be for this page -->
{% block title %}Māori Dictionary | Category Confirmation{% endblock %}
{% block heading %}Māori - English Dictionary{% endblock %}
<!-- holds the main html for this page -->
{% block main %}

    <div class="centered_group">

        <h1> Are you sure you want to delete the category: {{category_name_with_id[1]}}?</h1>
        <p><b>This action cannot be undone</b></p>
                                    <!-- (category id) -->
        <a href="/remove/category-{{category_name_with_id[0]}}"><button><h1>Yes confirm</h1></button></a>
        <a href="/categorys/{{ category_name_with_id[0]}}"><button><h1>No go back!</h1></button></a>



    </div>

{% endblock %}
