<!-- html document starts with what is written in base html-->
{% extends 'base.html' %}
<!-- holds what the title and heading should be for this page -->
{% block title %}Māori Dictionary | Home{% endblock %}
{% block heading %}Māori - English Dictionary{% endblock %}
<!-- holds the main html for this page -->
{% block main %}
    <div class="centered_group">
        <!-- if the user is logged in show them a welcome message -->
        {% if logged_in %}
            <h1>Welcome {{first_name}}!</h1>
        {% endif %}

        <!-- for each of the categories in the dictionary -->
        {% for category_with_id in categories_with_ids %}
                            <!-- (category id) -->                     <!-- (category name) -->
            <a href="/category/{{ category_with_id[0] }}"><button><h1>{{ category_with_id[1] }}</h1></button></a>

        {% endfor %}
        <!-- if the user has teacher permissions show the add category button with link -->
        {% if is_teacher %}

             <a href="/addcategory"><button><h1>Add category</h1></button></a>

        {% endif %}
    </div>






{% endblock %}
