{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}


    <div class="centered_group">
        {% for category in categorys %}

            <a href="/categorys/{{ category }}"><button><h1>{{ category }}</h1></button></a>

        {% endfor %}

        {% if logged_in %}

             <a href="/addcategory"><button><h1>Add category</h1></button></a>

        {% endif %}
    </div>






{% endblock %}
