{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}

    {% if logged_in %}
        <h1>Welcome {{first_name}}!</h1>
    {% endif %}
    <div class="centered_group">
        {% for category in categories %}

            <a href="/categories/{{ category }}"><button><h1>{{ category }}</h1></button></a>

        {% endfor %}

        {% if logged_in and is_teacher %}

             <a href="/addcategory"><button><h1>Add category</h1></button></a>

        {% endif %}
    </div>






{% endblock %}
