{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}

    <form class="dataForm" method = "POST">

            <h1> Login </h1>

            Email:

            <input type="email" name="email" id="email" required value = "{{ log_in_details[0] }}">

            <br>

            Password

            <input type="password" name="password" id="password" required value= "{{ log_in_details[1] }}">

            <br>
            <br>

            <input type="submit" value="Login" required>


         <p><br> <br> <br> If you don't have an account please <a href="/signup">Sign up</a>.</p>
            <div class = "error"> <strong> {{ error }} </strong> </div>

    </form>

{% endblock %}
