<!-- html document starts with what is written in base html-->
{% extends 'base.html' %}
<!-- holds what the title and heading should be for this page -->
{% block title %}Māori Dictionary | Saved Words{% endblock %}
{% block heading %}Māori - English Dictionary{% endblock %}
<!-- holds the main html for this page -->
{% block main %}


    <h1> Words you have saved:</h1>

    <table>
        <tr>
            <th> Maori </th>
            <th> English</th>
            <th> Image </th>
            <th> Date Saved </th>
            <th> Remove word</th>

        </tr>

        <!-- for each of the saved words do -->
        {% for word_details in saved_words_details_list %}
            <tr>

                                <!-- (word category) --><!-- (word id) -->     <!-- (word) -->
                <td><b><a href = "/{{word_details[0][5]}}/{{word_details[0][4]}}">{{word_details[0][0]}}</a></b></td>
                    <!-- (word in english) -->
                <td><b> {{word_details[0][1]}} </b></td>         <!-- (word's image address ) -->
                <td><img class = "thumb" src = "../static/images/{{word_details[0][3]}}"></td>
                                        <!-- (when the word was saved) -->
                <td><b>This word was saved: {{word_details[1]}}</b></td>
                                                <!-- (word id) -->
                <td><b><a href = "/remove_saved_word-{{word_details[0][4]}}">Remove word from saved</a></b></td>

            </tr>

        {% endfor %}


    </table>



{% endblock %}
