{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}


    <h1> Words you have saved:</h1>

    <table>
        <tr>
            <th> Maori </th>
            <th> English</th>
            <th> Image </th>
            <th> Date Saved </th>
            <th> Remove word</th>

        </tr>

        {% for word_details in saved_words_details_list %}
            <tr>

                <td><a href = "/{{word_details[0][2]}}/{{word_details[0][0]}}">{{word_details[0][0]}}</a></td>
                <td> {{word_details[0][1]}} </td>
                <td><img class = "thumb" src = "../static/images/{{word_details[0][3]}}"></td>
                <td>This word was saved: {{word_details[1]}}</td>
                <td><a href = "/unsaveword-{{word_details[0][2]}}-{{word_details[0][4]}}">Remove word from saved</a></td>

            </tr>

        {% endfor %}


    </table>



{% endblock %}
