{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}

    <form class="dataForm" method = "POST">

            <h1> Sign Up </h1>

            First Name:

            <input type = "text" name = "fname" id = "fname" required value = "{{ sign_up_details[0] }}">

            <br>

            Last Name:

            <input type = "text" name = "lname" id = "lname" required  value = "{{ sign_up_details[1] }}">

            <br>

            Email:

            <input type="email" name="email" id="email" required value = "{{ sign_up_details[2] }}">

            <br>

            Password

            <input type="password" name="password" id="password" required value= "{{ sign_up_details[3] }}">

            <br>

            Confirm Password:

            <input type = "password" name = "password2" id = "password2" required  value = "{{ sign_up_details[4] }}">

            <br>
            <br>

            <div class="centered_group">
                <p>Are you a teacher or a student?</p>
            </div>
            <div class="formRow">

                    <input type = "radio" name = "teacher_or_student" id = "teacher" required  value = "teacher">
                    <label for="teacher">Teacher</label>
                    <input type = "radio" name = "teacher_or_student" id = "student" required  value = "student">
                    <label for="teacher">Student</label>
            </div>
            <br>
            <br>
            <input type="submit" value="sign up" required>

            <div class = "error"> <strong> {{ error }} </strong> </div>

    </form>

{% endblock %}
