{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}


    <div class = "h0">{{word_details[0]}}: {{word_details[1]}}</div><br>
    <table>
        <tr>

            <td><b>Definition:</b></td>
            <td> {{word_details[3]}} </td>

        </tr>

        <tr>
            <td><b> Category:</b></td>
            <td>{{word_details[2]}}</td>

        </tr>

        <tr>
            <td><b>Year level word is first encountered:</b></td>
            <td>{{word_details[4]}}</td>

        </tr>

        <tr>


            {% if image_found %}

                <td colspan="2"><img src="../static/images/{{word_details[5]}}"></td>

            {% else %}

                <td colspan="2"><img src="../static/images/noimage.png"></td>

            {% endif %}

        </tr>

        <tr>
            <td colspan="2"><b>This was edited by: {{word_details[7]}} on the {{word_details[6]}}</b></td>

        </tr>

    </table>
{% endblock %}
